<!DOCTYPE html>
<html ng-app="upWebApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">    
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">    
  <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>New Page - UP</title>
</head>
<body ng-controller="upWebController">     

<div navbartop></div>

<div class="row">
<div class="col-md-6">
  <!-- Contact list -->
 <!-- <span ng-bind="name"></span> <br/> -->
 <ul class="vertical">
    <div ng-repeat="(key, value) in myObj"> 
        <li class="pokemon" value="{{value}}"><a href="#home" >{{key}}</a></li>          
    </div>
  </ul>

<br>
<br>
<br>
<br>
<br>
  <div class="col-md-12">
    Name
  </div>
  <div class="col-md-12">
    <input type="text" class="form-control">
  </div>
  <div class="col-md-12">
    Last Name
  </div>
  <div class="col-md-12">
    <input type="text" class="form-control">
  </div>
  <div class="col-md-12">
    Email
  </div>
  <div class="col-md-12">
    <input type="text" class="form-control">
  </div>
  <div class="col-md-12">
    Password
  </div>
  <div class="col-md-12">
    <input type="password" class="form-control">
  </div>
  <div class="col-md-12">
    <input type="button" value="Register" class="form-control">
  </div>

</div>
<div class="col-md-6">
  <!-- Messages container -->
  <div class="alert alert-success" role="alert">...</div>
  <div class="alert alert-success" role="alert">...</div>
</div>

</body>
<script src="js/jquery-3.1.0.js" type="text/javascript"></script>
<script src="js/angular.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>

</html>
